<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.troubleshooter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Troubleshooter">
        <activity android:name=".GlossaryActivity"></activity>
        <activity android:name=".SuspiciousMessageNextActivity" />
        <activity android:name=".PopUpMessageActivity" />
        <activity android:name=".SuspiciousMessageActivity" />
        <activity android:name=".BluetoothActivity" />
        <activity android:name=".BadBatteryActivity" />
        <activity android:name=".SlowPhoneActivity" />
        <activity android:name=".NoSpaceActivity" />
        <activity android:name=".UpdatePhoneActivity" />
        <activity android:name=".DeviceActivity" />
        <activity android:name=".WifiActivity" />
        <activity android:name=".SimCardActivity" />
        <activity android:name=".ConnectivityActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>